<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" >
</head>
<body>
    <div class="container">
        <div class="input">
            <form action="/set-cookie" method="post">
                <label for="userID">Enter userID</label>
                <br>
                <input type="text" name="nm" id="userID">
                <br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>