<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Scores</title>
</head>
<body>
    .
    <form action="http://localhost:5000/results" method="post">
        <label for="Name" >Enter Name</label>
        <br>
        <input type="text" name="Name">
        <br>
        <label for="Pyhsics">Enter Physics Scores</label>
        <br>
        <input type="text" name="Pyhsics" id="physics">
        <br>
        <label for="chemistry">Enter Chemistry Score</label>
        <br>
        <input type="text" name="Chemistry" id="2">
        <br>
        <label for="Mathematics">Enter Maths Score</label>
        <br>
        <input type="text" name="Mathematics" id="3">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>